@charset "UTF-8";
html{
    margin:0;
    padding:0;
}
body {
    font-size: 15pt;
    background-color:#00052B;
    text-align: center;
}
#h-1 {
    padding: 10;
    font-size:200;
    text-align: center;
    border: 5px;
    color :gold;
    outline:none;
}
#box {
    position: relative;
    text-align: center;
    background-color: gold;
    width: 800px;
    border: 20px solid goldenrod;
    margin: 150px auto;
    color: black;
    font-size: 10px;
    padding: 100px 0;
}
#pText {
    font-size: 20px;
    margin: 0 auto;
    white-space: nowrap;
    max-width: 750px;
}
.button {
    background-color: gold;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointe0;
} 
.img-border {
    position: relative;
    text-align: center;
}
#animate {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    animation-name: turnaround;
    animation-duration: 15s;
    z-index: 1000;
    opacity: 0;
}
@keyframes turnaround {
    0%   {opacity: 1; background-color:white; left:75px; top:-20%;}
    25%  {opacity: 1; background-color:white; left:calc(100% - 110px); top:-20%;}
    50%  {opacity: 1; background-color:white; left:calc(100% - 110px); top:105%;}
    75%  {opacity: 1; background-color:white; left:75px; top:105%;}
    99% {opacity: 1; background-color:white; left:75px; top:0;}
    100% {opacity: 0;}
}  